* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.layout-spacing {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* GRADIENTS */

:root {
  --gradient-1: linear-gradient(89.12deg, #37f3e1 -40.27%, #a109ff 101.93%);
  --gradient-2: linear-gradient(
    44.61deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  --gradient-3: linear-gradient(
    58.11deg,
    #0022c1 26.81%,
    #7b47b2 57.59%,
    #ed6aa5 82.34%
  );
  --gradient-4: linear-gradient(
    124.93deg,
    #0d8fd3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
  --gradient-5: linear-gradient(180deg, #0066ff 24.48%, #ff0000 100%);
  --gradient-6: linear-gradient(
    180deg,
    #0066ff 24.48%,
    rgba(0, 209, 255, 0.81) 100%
  );
  --gradient-7: linear-gradient(
    156.23deg,
    #0d8fd3 -0.74%,
    #0b60bb 11.13%,
    #0a3aa7 28.67%,
    #6a387d 60.05%,
    #c53754 94.26%,
    #fa5240 105.63%,
    #fcdda3 127.15%
  );
  --gradient-8: linear-gradient(
    123.15deg,
    rgba(13, 143, 211, 0.68) -3.37%,
    rgba(10, 58, 167, 0.68) 17.75%,
    rgba(197, 55, 84, 0.68) 53.11%,
    rgba(250, 82, 64, 0.68) 70.34%,
    rgba(252, 221, 163, 0.68) 103.4%
  );
  --gradient-scroll-1: conic-gradient(
    from 90deg at 73.72% 50%,
    #c75593 -157.26deg,
    #6a4293 89.27deg,
    #c75593 202.74deg,
    #6a4293 449.27deg
  );
  --gradient-scroll-2: conic-gradient(
    from 114.22deg at 29.17% 50%,
    #694696 -23.56deg,
    #2361a6 107.58deg,
    #c75593 232.77deg,
    #694696 336.44deg,
    #2361a6 467.58deg
  );
  --gradient-scroll-3: conic-gradient(
    from 114.22deg at 29.17% 50%,
    #694696 -40.41deg,
    #2361a6 38.26deg,
    #694696 319.59deg,
    #2361a6 398.26deg
  );
  --gradient-scroll-4: conic-gradient(
    from 102.06deg at -7.1% 67.63%,
    #c75593 -1.87deg,
    #2361a6 281.68deg,
    #694696 332.49deg,
    #c75593 358.13deg,
    #2361a6 641.68deg
  );
  --gradient-scroll-5: conic-gradient(
    from 82.14deg at 53.24% 50%,
    #694696 -47.23deg,
    #804b73 97.91deg,
    #ab415c 150.01deg,
    #c35493 216.76deg,
    #694696 312.77deg,
    #804b73 457.91deg
  );
  --gradient-scroll-6: conic-gradient(
    from 77.41deg at 62.39% 60.9%,
    #694696 -38.75deg,
    #c88f6f 117.45deg,
    #ab415c 221.55deg,
    #804b73 291.42deg,
    #694696 321.25deg,
    #c88f6f 477.45deg
  );
}

/* FONT FACES */

@font-face {
  font-family: "FuseV2-Display";
  src: url(./fonts/FuseV.2Display-Book.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FuseV2-Display";
  src: url(./fonts/FuseV.2Display-BookItalic.woff2);
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FuseV2-Display";
  src: url(./fonts/FuseV.2Display-ExtraBold.woff2);
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "FuseV2-Display";
  src: url(./fonts/FuseV.2Display-ExtraBoldItalic.woff2);
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "FuseV2-Text";
  src: url(./fonts/FuseV.2Text-Book.woff2);
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "FuseV2-Text";
  src: url(./fonts/FuseV.2Text-BookItalic.woff2);
  font-weight: 350;
  font-style: italic;
}

/* TYPOGRAPHY */

.heading2 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  letter-spacing: -0.02em;
}

.heading3 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 81px;
  line-height: 88px;
  letter-spacing: -0.02em;
}

.heading4 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 54px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

.heading5 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0em;
}

.heading6 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
}

.subtitle {
  font-family: "FuseV2-Display";
  font-weight: 350;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0em;
}

.subtitle2 {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0em;
}

.body {
  font-family: "FuseV2-Display";
  font-weight: 350;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0em;
}

.body-text {
  font-family: "FuseV2-Text";
  font-weight: 350;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}

.body2 {
  font-family: "FuseV2-Display";
  font-weight: 350; /* Smaller differences in design and fonts */
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0em;
}

.button {
  font-family: "FuseV2-Display";
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.08em;
}

/* (...) */

/* SECTION_HEADER */
.header-extension {
  background-color: #000000;
  width: 100%;
  height: 108px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}
.header .layout-spacing {
  padding: 32px 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #000000;
  z-index: 10;
}
.header-wrapper {
  max-width: 1232px;
  margin: auto;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
.header-wrapper__mini-logo {
  display: none;
}
.header-wrapper__navigation {
  display: flex;
}
.header-wrapper__navigation > ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-self: center;
}
.header-wrapper__navigation li:not(:last-child) {
  margin-right: 48px;
}
.header-wrapper__navigation li {
  font-family: "FuseV2-Display";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f7;
  display: flex;
  align-items: center;
}
.header-wrapper__navigation a {
  text-decoration: none;
}
.header-wrapper__navigation a:hover {
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.transparent-button {
  height: 44px;
  text-align: center;
  width: 134px;
  color: #f5f5f7;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  border-image: var(--gradient-4);
  border-image-slice: 1;
}
.transparent-button:hover {
  background-color: transparent;
  border: 1px solid #f5f5f7;
  border-image: none;
  background: none;
  -webkit-text-fill-color: #000000;
  background-color: #f5f5f7;
}
.header-wrapper__hamburger {
  display: none;
}
@media screen and (max-width: 1300px) {
  .header-wrapper {
    align-items: center;
  }
  .header-wrapper__hamburger {
    display: block;
    width: 32px;
    height: 32px;
  }
  .hamburger-svg {
    width: 100%;
  }
  .header-wrapper__navigation {
    display: none;
  }
  .header-wrapper__logo {
    display: none;
  }
  .header-wrapper__mini-logo {
    display: block;
  }
  .header .layout-spacing {
    padding: 24px;
  }
}

/* SECTION_HEADER-HERO */
.header {
  width: 100%;
}
.header-hero .layout-spacing {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.header-hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1030px;
  height: 336px;
  margin-top: 228px;
}
.header-hero-wrapper__subtitle {
  text-align: center;
  color: #f5f5f7;
}
.header-hero-wrapper__heading2 {
  margin-top: 16px;
  margin-bottom: 88px;
  line-height: 120px;
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-hero-wrapper__heading4 {
  margin-top: 16px;
  margin-bottom: 88px;
  line-height: 68px;
  background: var(--gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.header-hero-wrapper__body {
  margin-bottom: 24px;
}
.header-hero-wrapper__body2 {
  margin-bottom: 24px;
  display: none;
}
.header-hero-wrapper a {
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .header-hero .layout-spacing {
    padding: 24px 0;
  }
  .header-hero-wrapper {
    width: 332px;
    height: 272px;
    margin-top: 216px;
  }
  .header-hero-wrapper__subtitle {
    height: 16px;
    text-align: center;
    color: #f5f5f7;
    font-family: "FuseV2-Display";
    font-weight: 350;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0em;
  }
  .header-hero-wrapper__heading2 {
    display: none;
  }
  .header-hero-wrapper__heading4 {
    display: block;
  }
  .header-hero-wrapper__body {
    display: none;
  }
  .header-hero-wrapper__body2 {
    display: block;
  }
}

/* SECTION_DDMT */
.DDMT {
  display: flex;
  justify-content: center;
}

.DDMT-wrapper {
  width: 100%;
  margin-top: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DDMT-wrapper__scroll-owerflow {
  overflow-x: scroll;
  margin-top: 216px;
  width: 1215px;
  margin-left: 208px;
}
.DDMT-wrapper__scroll {
  width: 1786px;
  height: 152px;
  display: flex;
}
.DDMT-wrapper__scroll .DDMT-wrapper__scroll__stats :not(:last-child) {
  margin-right: 80px;
}
.DDMT-wrapper__scroll__stats {
  display: flex;
  height: 152px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.scroll-subtitle {
  color: white;
}
.scroll-1 {
  background: var(--gradient-scroll-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-2 {
  background: var(--gradient-scroll-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-3 {
  background: var(--gradient-scroll-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-4 {
  background: var(--gradient-scroll-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-5 {
  background: var(--gradient-scroll-5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll-6 {
  background: var(--gradient-scroll-6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.konferencija {
  display: none;
}
.scroll__subtitle {
  text-align: center;
  color: #f5f5f7;
}
@media screen and (max-width: 1438px) {
  .DDMT-wrapper {
    margin-top: 408px;
  }
  .DDMT-wrapper__scroll-owerflow {
    overflow-x: auto;
    margin: 0;
    margin-top: 272px;
    width: 200px;
  }
  .DDMT-wrapper__scroll {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .DDMT-wrapper__scroll__stats {
    align-items: center;
    margin: 0;
    justify-content: flex-start;
  }
  .DDMT-wrapper__scroll__stats .heading2 {
    font-family: "FuseV2-Display";
    font-weight: 800;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: -0.01em;
    display: flex;
    justify-content: center;
  }
  .DDMT-wrapper__scroll .DDMT-wrapper__scroll__stats :not(:last-child) {
    margin-right: 0;
  }
  .konferencija {
    display: block;
  }
}

/* SECTION_FLYTALKS */
.FlyTalks-wrapper {
  max-width: 1230px;
  margin: auto;
  margin-top: 748px;
  position: relative;
  margin-bottom: 533px;
  overflow-x: clip;
}
.FlyTalks-wrapper__text {
  width: 445px;
  height: 332px;
}
.FlyTalks-wrapper__text .heading2 {
  color: #f5f5f7;
}
.FlyTalks-wrapper__text .body-text {
  margin-top: 56px;
  margin-bottom: 54px;
}
.FlyTalks-wrapper__text a {
  text-decoration: none;
}
.FlyTalks-wrapper__text .transparent-button {
  width: 151px;
}
.FlyTalks-wrapper__img {
  position: absolute;
  width: 768px;
  height: 1012px;
  right: -90px;
  top: -350px;
}
@media screen and (max-width: 1299px) {
  .FlyTalks {
    width: 100%;
    overflow: hidden;
  }
  .FlyTalks-wrapper {
    height: 766px;
    position: unset;
    width: 100%;
    margin: 24px auto;
    margin-top: 198px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 393px;
    overflow: hidden;
  }
  .FlyTalks-wrapper__text {
    width: 327px;
    height: 252px;
  }
  .FlyTalks-wrapper__img {
    position: unset;
    margin: auto;
    width: 480px;
    height: 632px;
  }
  .FlyTalks-wrapper__text .heading2 {
    font-weight: 800;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: -0.01em;
    color: #f5f5f7;
  }
  .FlyTalks-wrapper__text .body-text {
    margin-top: 22px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 550px) {
  .FlyTalks-wrapper__img {
    position: absolute;
    top: unset;
    right: unset;
    bottom: -100px;
    margin-right: 0;
    left: 0;
    width: 480px;
    height: 632px;
    margin-left: 0;
    overflow: hidden;
  }
}

/* MAP */
.Map-wrapper {
  width: 100%;
  height: 903px;
  position: relative;
  margin-bottom: 266px;
  overflow: hidden;
}
.Map-wrapper__map {
  width: 100%;
  height: 100%;
}
.Map-wrapper__pointer {
  position: absolute;
  top: 483px;
  right: 341px;
}
.Map-wrapper__text {
  position: absolute;
  top: 253px;
  left: 204px;
  height: 396px;
  width: 402px;
}
.map__subtitle {
  color: #ffffff;
}
.Map-wrapper__text .heading4 {
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 68px;
}
@media screen and (max-width: 1299px) {
  .Map .layout-spacing {
    padding: 0 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  .Map-wrapper {
    width: 100%;
    height: 534px;
    width: 327px;
    position: relative;
    margin-bottom: 317px;
    overflow: unset;
    display: flex;
    justify-content: center;
  }
  .map__subtitle {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0em;
  }
  .Map-wrapper__text {
    width: 327px;
    top: 255px;
    left: unset;
    right: unset;
    bottom: 0;
  }
  .Map-wrapper__text .heading2 {
    font-weight: 800;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: -0.01em;
    margin-bottom: 40px;
  }
  .Map-wrapper__text .heading4 {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0em;
  }
  .Map-wrapper__map {
    height: 343px;
    width: 547px;
  }
  .Map-wrapper__pointer {
    height: 25px;
    width: 17px;
    top: 212px;
    right: 30px;
  }
}

/* SECTION_ONLINE */
.online-wrapper {
  height: 1915px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 57px;
}
.online-wrapper__text {
  width: 504px;
  height: 394px;
  position: absolute;
  top: 469px;
  left: 105px;
}
.online-wrapper .subtitle {
  color: #ffffff;
}
.online-wrapper p {
  width: 400px;
  margin-top: 40px;
  margin-bottom: 32px;
}
.online-wrapper a {
  text-decoration: none;
}
.online-wrapper__img {
  position: absolute;
  left: 150px;
  top: 20px;
  height: 1860px;
  width: 1860px;
}
.youtube {
  display: none;
}
.online-wrapper__text button {
  width: 153px;
}
@media screen and (max-width: 2200px) {
  .online-wrapper {
    overflow: clip;
  }
}

@media screen and (max-width: 1299px) {
  .online-wrapper .subtitle {
    margin-bottom: 122px;
  }
  .online-wrapper p {
    width: 327px;
    margin-top: 22px;
    margin-bottom: 22px;
  }
  .online-wrapper__text {
    position: unset;
    width: 327px;
  }
  .online-wrapper .heading2 {
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.01em;
  }
  .online-wrapper__img {
    position: absolute;
    left: -150px;
    top: 300px;
    height: 950px;
    width: 950px;
  }
  .livestream {
    display: none;
  }
  .youtube {
    display: block;
  }
}
/* SECTION_SCHEDULE */
.schedule {
  display: flex;
  justify-content: center;
}
.schedule-wrapper {
  height: 1426px;
  width: 920px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 360px;
}
.schedule-wrapper .heading2 {
  text-align: center;
  margin-bottom: 108px;
}
.schedule-wrapper__dates {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #54545f;
  display: flex;
  justify-content: center;
  margin-bottom: 53px;
}
.schedule-wrapper__dates-date {
  width: 127px;
  height: 100%;
  text-align: center;
}
.schedule-wrapper__dates {
  color: #54545f;
}
.schedule-wrapper__dates-date:hover {
  background: var(--gradient-2);
  font-weight: 800px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(85, 12, 61);
}
.schedule-wrapper__menu {
  height: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 49px;
}
.schedule-wrapper__menu-a {
  width: 120px;
  height: 100%;
  text-align: center;
  color: #54545f;
}
.menu-left {
  color: #f5f5f7;
}
.menu-middle {
  border-left: 1px solid #f5f5f7;
  border-right: 1px solid #f5f5f7;
}
.schedule-wrapper__big {
  width: 920px;
  height: 345px;
  background-color: #f5f5f70d;
  margin-bottom: 16px;
}
.big-wrapper {
  width: 728px;
  height: 277px;
  margin-left: 160px;
  margin-top: 32px;
  margin-bottom: 20px;
  position: relative;
}
.big-wrapper__time {
  position: absolute;
  top: 0;
  left: -125px;
}
.big-wrapper__dev {
  width: 40px;
  height: 20px;
  background-color: #f5f5f733;
  text-align: center;
  color: #f5f5f7;
  position: absolute;
  top: -3px;
  left: 0;
}
.big-wrapper__title {
  position: absolute;
  top: 0;
  left: 55px;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
}
.you-tube {
  position: absolute;
  top: -2px;
  left: 425px;
}
.live-svg {
  position: absolute;
  top: 1px;
  left: 457px;
}
.live {
  position: absolute;
  top: 1px;
  left: 476px;
}
.chevron {
  position: absolute;
  top: 0px;
  right: 0px;
}
.big-wrapper__text {
  width: 100%;
  border-bottom: 1px solid #f5f5f733;
  color: #f5f5f7;
}
.big-wrapper__text {
  position: absolute;
  top: 42px;
  left: 0px;
  padding-right: 33px;
  padding-bottom: 30px;
}
.Matijaca {
  position: absolute;
  left: 0;
  bottom: 0;
}
.Matijaca-text {
  left: 88px;
  top: 224px;
}
.Matijaca-text2 {
  position: absolute;
  left: 88px;
  top: 250px;
}
.Profico {
  position: absolute;
  right: 0px;
  bottom: 0;
}
.schedule-wrapper__small {
  height: 100px;
}
.Matijaca-text3 {
  position: absolute;
  left: 0px;
  top: 30px;
}
.Matijaca-text4 {
  display: none;
}
.Matijaca-text5 {
  display: none;
}
@media screen and (max-width: 1000px) {
  .schedule-wrapper {
    height: 2454px;
    width: 327px;
    margin-bottom: 71px;
  }
  .schedule-wrapper .heading2 {
    text-align: center;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    margin-bottom: 90px;
  }
  .schedule-wrapper__big {
    width: 327px;
    height: 597px;
    background-color: #f5f5f70d;
    margin-bottom: 16px;
  }
  .big-wrapper {
    width: 279px;
    height: 547px;
    margin: 22px;
    position: relative;
  }
  .big-wrapper__time {
    position: absolute;
    top: 0;
    left: 0px;
  }
  .big-wrapper__dev {
    width: 40px;
    height: 20px;
    top: 42px;
    left: 0;
  }
  .big-wrapper__title {
    position: absolute;
    top: 70px;
    left: 0px;
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
  }
  .you-tube {
    position: absolute;
    top: -3px;
    left: 105px;
  }
  .live-svg {
    position: absolute;
    top: 1px;
    left: 135px;
  }
  .live {
    position: absolute;
    top: 2px;
    left: 154px;
  }
  .chevron {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .big-wrapper__text {
    width: 100%;
    border-bottom: 1px solid #f5f5f733;
    color: #f5f5f7;
  }
  .big-wrapper__text {
    position: absolute;
    top: 123px;
    left: 0px;
    line-height: 24px;
    padding: 0;
    padding-bottom: 20px;
    letter-spacing: -1px;
  }
  .Matijaca {
    position: absolute;
    left: 0;
    bottom: 0px;
  }
  .Matijaca-text {
    left: 88px;
    top: 475px;
    font-size: 16px;
    line-height: 18px;
  }
  .Matijaca-text2 {
    position: absolute;
    left: 88px;
    top: 500px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -1px;
  }
  .Profico {
    position: absolute;
    right: 103px;
    bottom: 0;
  }
  .schedule-wrapper__small {
    height: 241px;
    width: 327px;
  }
  .Matijaca-text3 {
    position: absolute;
    left: 0px;
    top: 150px;
  }
  .schedule-wrapper__small .line {
    background-color: #8a8a99;
    height: 1px;
    width: 100%;
    position: absolute;
    top: 120px;
  }
  .Matijaca-text3 {
    display: none;
  }
  .schedule-wrapper__small .big-wrapper {
    height: 241px;
  }
  .Matijaca-text4 {
    display: block;
    position: absolute;
    top: 150px;
  }
  .Matijaca-text5 {
    display: block;
    position: absolute;
    top: 170px;
  }
  .schedule {
    margin-bottom: 71px;
  }
}

/* SECTION_INNOVATORS */

.innovators {
  margin-bottom: 524px;
}

.innovators .layout-spacing {
  display: flex;
  --top-margin: 96px;
  padding-bottom: 112px;
}

.innovators__text {
  padding-left: 104px;
  width: calc(100% - 696px);
  padding-top: var(--top-margin);
}

.innovators__text-box {
  position: sticky;
  width: 482px;
  top: var(--top-margin);
}

.innovators__text-box-title {
  margin-bottom: 32px;
}

.innovators__items {
  --item-width: 216px;
  --item-gap: 24px;
  --item-columns: 3;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(
    var(--item-width) * var(--item-columns) + var(--item-gap) *
      (var(--item-columns) - 1)
  );
}

.innovators__items-item {
  width: var(--item-width);
  min-height: 300px;
  position: relative;
}

.innovators__items-item:not(:nth-of-type(n + 10)) {
  margin-bottom: var(--item-gap);
}

.innovators__items-item:nth-of-type(3n - 1) {
  top: 112px;
}

.innovators__items-item-title::before {
  content: "";
  width: 216px;
  height: 312px;
  position: absolute;
  top: 0;
  background: var(--gradient-8);
  background-blend-mode: hue;
}

.innovators__items-item-title {
  margin-bottom: 6px;
}

.innovators__items-item-subtitle {
  color: #54545f;
  margin-bottom: 10px;
}

.innovators__items-item-logo {
  height: 18px;
}

@media screen and (max-width: 1299px) {
  .innovators .layout-spacing {
    display: block;
    width: 327px;
  }

  .innovators__text {
    width: 100%;
    padding: 0;
  }

  .innovators__text-box {
    position: sticky;
    width: 100%;
    top: var(--top-margin);
  }

  .innovators__text-box-title {
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 68px;
  }

  .innovators__items-item-image {
    width: 100%;
  }

  .innovators__items {
    --item-columns: 2;
    --item-width: 156px;
  }

  .innovators__items-item:nth-of-type(3n - 1) {
    top: 0;
  }

  .innovators__items-item:nth-of-type(2n) {
    top: 112px;
  }

  .innovators__text-box {
    position: unset;
    margin-bottom: 160px;
  }

  .innovators__items-item-title::before {
    content: none;
  }
}

/* SECTION_FRIENDS */

.friends {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 514px;
}

.friends__box {
  width: 800px;
  text-align: center;
}

.friends__box-title {
  margin-bottom: 25px;
}

.friends__box-quote {
  background: var(--gradient-2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1299px) {
  .friends__box-quote {
    font-size: 30px;
    width: 290px;
    line-height: 35px;
    margin: auto;
  }
}

/* SECTION__SPONSORS */

.sponsors__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponsors__golden {
  margin-bottom: 330px;
}

.sponsors__golden-content {
  width: 100%;
}

.sponsors__golden-content-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 76px;
  margin-top: 250px;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(245, 245, 247, 0.1);
}

.sponsors__golden-content-logos-logo:nth-of-type(1) {
  height: 50px;
}

.sponsors__golden-content-logos-logo:nth-of-type(2) {
  height: 20px;
  margin: auto;
}

.sponsors__golden-content-logos-logo:nth-of-type(3) {
  height: 37px;
  margin-left: auto;
}

.sponsors__golden-content-cards {
  padding: 0 208px;
}

.sponsors__golden-content-cards-card {
  display: flex;
  justify-content: space-between;
}

.sponsors__golden-content-cards-card:not(:last-of-type) {
  margin-bottom: 90px;
}

.sponsors__golden-content-cards-card:nth-of-type(2) {
  flex-direction: row-reverse;
}

.sponsors__golden-content-cards-card-image {
  width: calc(50% - 20px);
}

.sponsors__golden-content-cards-card-content {
  width: calc(50% - 20px);
  margin-top: auto;
  margin-bottom: auto;
}

.sponsors__golden-content-cards-card-content .heading6 {
  margin-bottom: 11px;
}

@media screen and (max-width: 1299px) {
  .sponsors__golden-title {
    font-size: 40px;
  }

  .sponsors__golden-content-logos {
    display: flex;
    flex-direction: column;
  }

  .sponsors__golden-content-logos-logo:nth-of-type(2) {
    margin: 70px 0;
  }

  .sponsors__golden-content-logos-logo:nth-of-type(3) {
    margin-left: 0;
  }

  .sponsors__golden-content-cards {
    padding: 0;
    margin: auto;
  }

  .sponsors__golden-content-cards-card {
    display: block;
    width: 327px;
    margin: auto;
  }

  .sponsors__golden-content-cards-card:not(:last-of-type) {
    margin-bottom: 90px;
  }

  .sponsors__golden-content-cards-card-image {
    width: 327px;
  }

  .sponsors__golden-content-cards-card-content {
    width: 327px;
    margin-top: auto;
    margin-bottom: auto;
    margin: 0;
  }
}

.sponsors__silver .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__silver-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__silver-content {
  display: grid;
  width: 100%;
  row-gap: 38px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.sponsors__silver-content-logo:not(:nth-of-type(5n + 1)) {
  margin-left: auto;
  margin-right: auto;
}

.sponsors__silver-content-logo:nth-of-type(5n) {
  margin-right: 0;
}

@media screen and (max-width: 1299px) {
  .sponsors__silver-content {
    display: grid;
    width: 100%;
    row-gap: 38px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .sponsors__silver-content-logo:not(:nth-of-type(2n)) {
    margin: auto;
  }

  .sponsors__silver-content-logo:not(:nth-of-type(2n - 1)) {
    margin: auto;
  }

  .sponsors__silver-content-logo:nth-of-type(5n) {
    margin: auto;
  }
}

.sponsors__bronze-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__bronze .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__bronze-content {
  display: grid;
  width: 100%;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.sponsors__bronze-content-logo:nth-of-type(1) {
  margin-left: auto;
}

.sponsors__organisational-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__organisational .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__organisational-content {
  display: grid;
  max-width: 570px;
  margin: auto;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sponsors__organisational-content-logo:nth-of-type(2) {
  margin-left: auto;
  margin-right: auto;
}

.sponsors__organisational-content-logo:nth-of-type(3) {
  margin-left: auto;
}

@media screen and (max-width: 1299px) {
  .sponsors__organisational-content {
    grid-template-columns: 1fr;
  }

  .sponsors__organisational-content-logo {
    margin-left: auto;
    margin-right: auto;
  }

  .sponsors__organisational-content-logo:nth-of-type(2) {
    margin: 60px auto;
  }
}

.sponsors__game-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__game .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__game-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sponsors__media-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__media .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__media-content {
  display: grid;
  max-width: 874px;
  margin: auto;
  column-gap: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.sponsors__media-content-logo:not(:nth-of-type(1)) {
  margin-left: auto;
  margin-right: auto;
}

.sponsors__media-content-logo:nth-of-type(4) {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 1299px) {
  .sponsors__media-content {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .sponsors__media-content-logo {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
  }

  .sponsors__media-content-logo:nth-of-type(4) {
    margin-left: auto;
    margin-right: auto;
  }
}

.sponsors__friends-title {
  text-align: center;
  margin-bottom: 115px;
}

.sponsors__friends .layout-spacing {
  width: 100%;
  margin-bottom: 300px;
}

.sponsors__friends-content {
  display: grid;
  width: 100%;
  margin: auto;
  column-gap: 260px;
  grid-template-columns: 1fr 1fr;
}

.sponsors__friends-content-logo:nth-of-type(1) {
  margin-left: auto;
  margin-right: 0;
}

@media screen and (max-width: 1299px) {
  .sponsors__friends-content {
    display: flex;
    flex-direction: column;
  }

  .sponsors__friends-content img:nth-of-type(2) {
    height: 10px;
    margin-top: 60px;
  }
  .sponsors__friends-content-logo:nth-of-type(1) {
    margin-left: auto;
    margin-right: auto;
  }
}

/* SECTION_JOBS */

.jobs__textbox {
  max-width: 400px;
  margin-left: 312px;
}

.jobs__textbox-title {
  margin-bottom: 42px;
}

.jobs__textbox-subtitle {
  margin-bottom: 50px;
}

.jobs__textbox-buttons {
  display: flex;
}

.jobs__textbox-button {
  width: 48px;
  height: 48px;
  background-color: rgba(245, 245, 247, 0.05);
  border: none;
}

.jobs__textbox-button:nth-of-type(2) {
  transform: rotate(180deg);
  margin-left: 8px;
}

.jobs__content {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  padding: 0 312px;
}

.jobs__content-item {
  max-width: 816px;
  height: 376px;
  padding: 40px;
  display: flex;
}

.item__decor {
  width: 50px;
  background-image: url(./assets/images/job-decor.jpg);
  background-size: cover;
  margin-right: 30px;
}

.item__header {
  position: relative;
  width: 233px;
}

.item__header-location {
  display: flex;
  height: 17px;
  position: absolute;
  bottom: 0;
}

.item__header-location img {
  margin-right: 13px;
}

.item__content {
  margin-left: 55px;
}

.item__content-text {
  width: 396px;
  margin-bottom: 16px;
}

.item__content-link {
  text-decoration: none;
}

.item__content-link img {
  transform: rotate(180deg);
  height: 10px;
}

.jobs__textbox-buttons:nth-of-type(2) {
  margin-left: 300px;
}

@media screen and (max-width: 1299px) {
  .jobs__textbox {
    max-width: 400px;
    margin-left: 24px;
  }

  .jobs__textbox-title {
    margin-bottom: 42px;
  }

  .jobs__textbox-subtitle {
    margin-bottom: 50px;
  }

  .jobs__textbox-buttons {
    display: flex;
  }

  .jobs__textbox-button {
    width: 48px;
    height: 48px;
    background-color: rgba(245, 245, 247, 0.05);
    border: none;
  }

  .jobs__textbox-button:nth-of-type(2) {
    transform: rotate(180deg);
    margin-left: 8px;
  }

  .jobs__content {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0;
  }

  .jobs__content-item {
    max-width: 327px;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .item__decor {
    width: 100%;
    height: 30px;
    background-image: url(./assets/images/job-decor.jpg);
    background-size: cover;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .item__header {
    position: relative;
    width: 100%;
  }

  .item__header-title {
    margin: 20px 0;
  }

  .item__header-location {
    display: flex;
    height: 17px;
    position: absolute;
    top: 0;
    right: 0;
  }

  .item__header-location img {
    margin-right: 15px;
  }

  .item__content {
    margin-left: 0;
    width: 100%;
  }

  .item__content-text {
    width: 100%;
    margin-bottom: 16px;
  }

  .item__content-link {
    text-decoration: none;
  }

  .item__content-link img {
    transform: rotate(180deg);
    height: 10px;
  }

  .jobs__textbox-buttons:nth-of-type(2) {
    margin-left: 300px;
  }
}

/*SECTION_FAQ*/
body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}

.FAQ {
  width: 100%;
  position: relative;
}

.faq-text {
  padding-top: 745px;
  margin-left: 14.5%;
  width: 45.5%;
}

.faq-smallTitle {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.faq-title {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 68px;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 39.41px;
}

.faq-title span {
  background: linear-gradient(89.12deg, #37f3e1 -40.27%, #a109ff 101.93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.faqs {
  padding-top: 33.49px;
  padding-bottom: 33.49px;
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f7;
}

.faqs:not(:last-child) {
  border-bottom: 1px solid #f5f5f710;
}

.twisted-img {
  height: 1414px;
  width: 1648px;
  max-width: unset;
  max-height: unset;
  position: absolute;
  top: 0;
  right: -1056px;
}

@media screen and (max-width: 900px) {
  .faq-text {
    padding-top: 0;
    margin: 0 24px 0 24px;
    width: calc(100% - 24px * 2);
  }

  .faq-title {
    margin-bottom: 72px;
  }

  .faqs {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 24px;
  }

  .twisted-img {
    margin-left: -80px;
    transform: rotate(7.49deg);
    position: static;
    width: 840.55px;
    height: 721.35px;
    display: block;
  }
}

/*SECTION_QUESTIONS*/
.questions {
  margin-top: 575px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f5f5f7;
  width: 100%;
  flex-direction: column;
  padding: 24px 104px;
}

.questions h2 {
  display: flex;
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
  color: #ffffff;
}

.questions p {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  color: #f5f5f7;
}

.questions-icons {
  margin: 24px auto;
  display: flex;
  justify-content: center;
}

.questions-icon {
  justify-content: center;
  width: 30px;
  height: 30px;
  display: flex;
}

.questions-icon:not(:first-child) {
  margin-left: 31px;
}

.questions-icon:hover {
  background-color: gray;
}

.questions-icon img {
  display: flex;
  width: 23px;
}

.questions-inputs {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
}

.questions-inputs input {
  padding-left: 25px;
  width: 504px;
  height: 66.36px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #f5f5f710;
}

.questions-inputs input::placeholder {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #f5f5f7;
}

.questions-inputs input:focus {
  outline: none;
}

.questions-inputs input:first-child {
  background: rgba(245, 245, 247, 0.05);
  backdrop-filter: blur(2px);
  border: none;
}

.questions-inputs div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8px;
  text-align: right;
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #f5f5f7;
}

.questions-button {
  align-self: flex-end;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .questions {
    margin: 0;
    padding: 24px;
  }

  .questions h2 {
    font-family: "FuseV2-Display";
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #ffffff;
  }

  .questions p {
    font-family: "FuseV2-Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  .questions-icon {
    justify-content: center;
    width: 36px;
    height: 36px;
    display: flex;
  }

  .questions-inputs {
    margin-top: 36px;
    width: 100%;
  }

  .questions-inputs input {
    padding-left: 24px;
    width: 100%;
    height: 67px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #f5f5f710;
  }

  .questions-numbers {
    display: none !important;
  }
}

/*SECTION_FIVE*/
.five img {
  max-width: 100%;
  max-height: 100%;
}

.five {
  margin: 287px auto 563px;
  width: 100%;
}

.five-background {
  position: relative;
  background: url(assets/images/five.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  padding-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.five-text {
  width: 501px;
  color: #f5f5f7;
}

.five-text h3 {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 800;
  font-size: 81px;
  line-height: 88px;
  letter-spacing: -0.02em;
}

.five-text p {
  font-family: "FuseV2-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 18px auto 38px;
}

.person {
  align-self: flex-end;
  aspect-ratio: 1/1;
  width: calc((497 / 1440 * 100vw));
  min-height: 250px;
  min-width: 250px;
  margin-right: 24px;
}

@media screen and (max-width: 1300px) {
  .five {
    display: flex;
    justify-content: center;
    margin: 150px auto 313px;
    height: unset;
  }

  .five-background {
    background: url(assets/images/five-mobile.png);
    flex-direction: column-reverse;
    background-size: 100% 100%;
    margin: 0 20%;
  }

  .five-text {
    width: calc(100% - 20px * 2);
    text-align: center;
    justify-items: center;
    margin-bottom: 40px;
  }

  .five-text h3 {
    font-size: 54px;
    line-height: 68px;
    letter-spacing: -0.01em;
  }

  .five-text p {
    font-size: 16px;
    line-height: 24px;
  }

  .person {
    margin: 30px 0 0 0;
    align-self: center;
    width: 100%;
    justify-self: flex-end;
  }
}

@media screen and (max-width: 600px) {
  .five-background {
    margin: 0;
  }
}

/*SECTION_APP*/
.app {
  margin-top: 450px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app > h2 {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 800;
  font-size: 122px;
  line-height: 120px;
  letter-spacing: -0.02em;
}

.app-wrapper {
  margin-top: 174px;
  margin-bottom: 103px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: calc(100vw * 256 / 1440);
  padding-right: calc(100vw * 170 / 1440);
}

.app-text {
  width: calc(100vw * 330 / 1440);
}

.app-text > span {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.app-image {
  display: block;
  position: sticky;
  top: 120px;
  background: url(assets/images/Component\ 1.png);
  background-size: 71% 97%;
  width: min-content;
  height: min-content;
  background-repeat: no-repeat;
  background-position: center;
}

.app-image > img {
  aspect-ratio: 440/737;
  width: calc(100vw * 440 / 1440);
  max-width: 440px;
}

.app-sections {
  margin-top: 165px;
}

.app-section-title {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 68px;
}

.app-section:not(:first-child) {
  margin-top: 130px;
}

.app-section-content {
  margin-top: 27px;
  font-family: "FuseV2-Text";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: block;
  }

  .deskop {
    display: none;
  }

  .app > h2 {
    font-family: "FuseV2-Display";
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
  }

  .app-wrapper {
    align-items: center;
    margin-top: 119px;
    margin-bottom: 150px;
    flex-direction: column-reverse;
    padding: 0;
  }

  .app-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 170 * 2px);
  }

  .app-image {
    align-self: center;
    position: static;
    margin-bottom: 100px;
  }

  .app-image > img {
    width: 320px;
    height: 536px;
  }

  .app-sections {
    margin-top: 0px;
  }

  .app-section-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
  }

  .app-section:not(:first-child) {
    margin-top: 104px;
  }

  .app-section-content {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 600px) {
  .app-text {
    width: calc(100% - 36 * 2px);
  }
}

/*SECTION_FOOTER*/
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 104px;
  padding-left: 208px;
  padding-right: 208px;
  border-top: 1px solid #f5f5f710;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: "FuseV2-Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.footer-content:last-child {
  justify-content: flex-end;
}

.footer-icon {
  margin-right: 32px;
}
.footer-icon:hover {
  background-color: gray;
}

@media screen and (max-width: 1200px) {
  .footer {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    height: 238px;
  }

  .footer-text {
    text-decoration: none;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 0;
  }
}
